<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- Aumenta el límite de tamaño de la solicitud a 100 MB (104857600 bytes) -->
                <requestLimits maxAllowedContentLength="104857600" />
            </requestFiltering>
        </security>
        <handlers>
            <add name="INTRANET" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Proyectos\Adminweb\env\Scripts\python.exe|D:\Proyectos\Adminweb\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <httpRedirect enabled="false" destination="" />
    </system.webServer>
</configuration>
