{% load has_group %} <!-- \apps\home\templatetags\has_group.py -->
{% with user_groups=request.user|get_user_groups %}
<li class="nav-item {% if 'Herramientas' in request.path %} menu-open {% endif %}">
  <a href="#" class="nav-link {% if 'Herramientas' in request.path %} active {% endif %}">
    <i class="nav-icon fas fa-tools"></i>
    <p>
      Herramientas
      <i class="fas fa-angle-left right"></i>
      <!-- <span class="right badge badge-danger">New</span> -->
    </p>
  </a>
  <ul class="nav nav-treeview">
    <!-- Accesos esclusivos -->
    {% if request.user.id == 12 or request.user.id == 44 or request.user|has_any_group:"admin" %} 
    <li class="nav-item">
      <a href="/../Herramientas/cargaAnticipoGrupo" class="nav-link {% if '/cargaAnticipoGrupo' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Anticipos</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    {% endif %}
    <!-- RRHH -->
    {% if request.user|has_any_group:"RRHH,admin" %}
    
    {% endif %}  
    <!-- RRHH compartido -->
    {% if request.user|has_any_group:"admin,Comercial_sup,RRHH" %}
    <li class="nav-item">
      <a href="/../Herramientas/altaVendedores" class="nav-link {% if '/altaVendedores' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Alta Vendedores</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/grupoVendedores" class="nav-link {% if '/grupoVendedores' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Grupo Vendedores</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/gestionarVendedores" class="nav-link {% if '/gestionarVendedores' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestionar Vendedores</p>
      </a>
    </li>
    {% endif %}    
    <!-- inicio Logistica -->
    {% if request.user|has_any_group:"admin,Logistica_Sup" %}
    

    {% endif %}
    {% if request.user|has_any_group:"admin,Logistica_Sup,Logistica,Comercial_may" %}
    <li class="nav-item">
      <a href="/../Herramientas/RemisionMasiva"
        class="nav-link {% if 'RemisionMasiva' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Remisión Masiva</p>
        <span class="badge badge-info right">New</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Gestion_guias_mayoristas"
        class="nav-link {% if 'Gestion_guias_mayoristas' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Guías mayoristas</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Gestion_cronograma"
        class="nav-link {% if 'Gestion_cronograma' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestión cronograma</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/ImpRotulos"
        class="nav-link {% if 'ImpRotulos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Imp. Rotulos</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/ImpRemEcom"
        class="nav-link {% if 'ImpRemEcom' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Imp. Remitos Ecomm</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/ImprimirEtiquetasBultos"
        class="nav-link {% if 'ImprimirEtiquetasBultos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Imp.Etiquetas de Bultos</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Fin Logistica -->

    <!-- inicio 	Abastecimiento -->
    {% if request.user|has_any_group:"admin,Abastecimiento_Sup" %}
    <!-- ver solo el supervisor del area aqui -->
    {% endif %}
    {% if request.user|has_any_group:"admin,Abastecimiento_Sup,Abastecimiento" %}

    <!-- accesos del area aqui -->
    <li class="nav-item">
      <a href="/../Herramientas/Stock_excluido"
        class="nav-link {% if 'Stock_excluido' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Stock excluido</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Carga_de_orden"
        class="nav-link {% if 'Carga_de_orden' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Carga de orden</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Activar_orden"
        class="nav-link {% if 'Activar_orden' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Activar orden</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Desactivar_orden"
        class="nav-link {% if 'Desactivar_orden' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Desactivar orden</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Recodificacion"
        class="nav-link {% if 'Recodificacion' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Recodificar OU</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/AltaPromoBancaria"
        class="nav-link {% if 'AltaPromoBancaria' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Alta Promo Bancaria</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/CrearGrupoPromo"
        class="nav-link {% if 'CrearGrupoPromo' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Crear Grupo Promo</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/EditarGrupoPromo"
        class="nav-link {% if 'EditarGrupoPromo' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Editar Grupo Promo</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/MaestroDestinos"
        class="nav-link {% if 'MaestroDestinos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestión de Destinos</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/GestionEquivalentes"
        class="nav-link {% if 'GestionEquivalentes' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestión Art. Equivalentes</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/StockBase"
        class="nav-link {% if 'StockBase' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestión Stock Base</p>
        <span class="badge badge-info right">New</span>
      </a>
    </li>

    {% endif %}
    <!-- Fin 	Abastecimiento -->

    <!-- inicio 	Gestión de Volúmenes -->
    {% if request.user|has_any_group:"admin,Abastecimiento_Sup,Abastecimiento,e-commerce" %}
    <li class="nav-item">
      <a href="{% url 'herramientas:eb_sinc_art_volumen_list' %}"
        class="nav-link {% if 'eb-sinc-art-volumen' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestión de Volúmenes</p>
        <span class="badge badge-danger right">New</span>
      </a>
    </li>
    {% endif %}
    <!-- Fin 	Gestión de Volúmenes -->

    <!-- inicio 	Administracion -->
    {% if request.user|has_any_group:"admin,AdministracionSup" %}
    <li class="nav-item">
      <a href="/../Herramientas/Controlgastos"
        class="nav-link {% if 'Controlgastos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Control Gastos</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/CargarContratosDeAlquiler"
        class="nav-link {% if 'CargarContratosDeAlquiler' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Contratos De Alquiler</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>

    
    {% endif %}
    {% if request.user|has_any_group:"admin,AdministracionSup,Administracion" %}
    <li class="nav-item">
      <a href="/../Herramientas/ControlGastosSupervision"
        class="nav-link {% if 'ControlGastosSupervision' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gastos Supervision</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Cargargastos"
        class="nav-link {% if 'Cargargastos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Gastos</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/Controlcajasdiario"
        class="nav-link {% if 'Controlcajasdiario' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Control cajas Diario</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/GestionDeAlquileres"
        class="nav-link {% if 'GestionDeAlquileres' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestion De Alquileres</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/CargaGastosAlquileres"
        class="nav-link {% if 'CargaGastosAlquileres' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Carga Gastos Alquileres</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    
    <li class="nav-item">
      <a href="/../Herramientas/ControlEgresosDeCaja/{{ request.user.username }}"
        class="nav-link {% if 'ControlEgresosDeCaja' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Ctrl Egresos De Caja</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/ControlMasivoCobranza"
        class="nav-link {% if 'ControlMasivoCobranza' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Control Masivo de Cobranza</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/RelacionesCtaCont"
        class="nav-link {% if 'RelacionesCtaCont' in request.path %} active {% endif %}">
        <i class="nav-icon far fa-circle text-warning"></i>
        <p>Gestion relaciones Cta/Cont</p>
        <!-- <span class="badge badge-info top">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/ContratosFrCarga"
        class="nav-link {% if 'ContratosFrCarga' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Contratos Fr</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>    
    <li class="nav-item">
      <a href="/../Herramientas/CargaFacturasSuc"
        class="nav-link {% if 'CargaFacturasSuc' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Carga Facturas Suc</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/GestionDeProveedores"
        class="nav-link {% if 'GestionDeProveedores' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestion De Proveedores</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/CargarContratosDeAlquiler"
        class="nav-link {% if 'CargarContratosDeAlquiler' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Contratos De Alquiler</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>

    {% endif %}
    {% if request.user|has_any_group:"admin,AdministracionSup,Administracion,Tesoreria" %}
    <li class="nav-item">
      <a href="/../Herramientas/EgresosCajaTesoreria"
        class="nav-link {% if 'EgresosCajaTesoreria' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Egresos Caja Tesoreria</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Administracion_CE   ***Comercio Exterior*** -->
    {% if request.user|has_any_group:"admin,AdministracionSup,Administracion_CE" %}
    <li class="nav-item">
      <a href="/../Herramientas/Cargarcontenedor"
        class="nav-link {% if 'Cargarcontenedor' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Contenedor</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Fin Administracion_CE ***Comercio Exterior*** -->

    {% if request.user|has_any_group:"admin,Abastecimiento_Sup,Abastecimiento,AdministracionSup,Administracion" %}
    <li class="nav-item">
      <a href="/../Herramientas/MedidasLocales"
        class="nav-link {% if 'MedidasLocales' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Medidas Locales</p>
        <span class="badge badge-info right">New</span>
      </a>
    </li>
    {% endif %}
    <!-- Fin 	Administracion -->

    <!-- inicio 	e-commerce -->
    {% if request.user|has_any_group:"admin,e-commerce_sup" %}
    <!-- ver solo el supervisor del area aqui -->
    {% endif %}
    {% if request.user|has_any_group:"admin,e-commerce_sup,e-commerce" %}
    <!-- accesos del area aqui -->
    <li class="nav-item">
      <a href="/../Herramientas/Control_pedidos"
        class="nav-link {% if 'Control_pedidos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Control pedidos</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/StockSegVtex"
        class="nav-link {% if 'StockSegVtex' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestion S/S Vtex</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/actNovICBC"
        class="nav-link {% if 'EditarContenedor' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Act Nov ICBC</p>
        <!-- <span class="badge badge-info right">new</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/uploadImg"
        class="nav-link {% if 'uploadImg' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Imagenes</p>
        <!-- <span class="badge badge-info right">new</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/importartvtex"
        class="nav-link {% if 'importartvtex' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Archivo de carga Vtex</p>
        <!-- <span class="badge badge-info right">new</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/relaciones/list"
        class="nav-link {% if '/list' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Sub Categorias Vtex</p>
        <!-- <span class="badge badge-info right">new</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Fin 	e-commerce -->

    <!-- inicio 	Gerencia -->
    {% if request.user|has_any_group:"admin,Gerencia" %}
    <li class="nav-item">
      <a href="/../Herramientas/rendircobranzas/{{ request.user.username }}"
        class="nav-link {% if 'rendircobranzas' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Rendir Cobranzas</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/gestionPremiosComercial"
        class="nav-link {% if 'gestionPremiosComercial' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gest.Premios Comercial</p>
        <!-- <span class="badge badge-danger right">New</span> -->
      </a>
    </li>
    {% endif %}
    {% if request.user|has_any_group:"admin,Gerencia,Gerencia_Adm" %}
    <li class="nav-item">
      <a href="/../Herramientas/GestionarCobro/{{ request.user.username }}"
        class="nav-link {% if 'GestionarCobro' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestionar Cobro</p>
        <!-- <span class="badge badge-info right">2</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Fin 	Gerencia -->

    <!-- inicio 	Comercial -->
    {% if request.user|has_any_group:"admin,Comercial_sup" or request.user.id == 20 %}
    <li class="nav-item">
      <a href="/../Herramientas/AdministrarCuotas"
        class="nav-link {% if 'AdministrarCuotas' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Adm. Cuotas</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/PromoBancos"
        class="nav-link {% if 'PromoBancos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Promo Bancos</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/AltaNuevosLocales"
        class="nav-link {% if 'AltaNuevosLocales' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Alta Locales</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    <li class="nav-item">
      <a href="/../Herramientas/UsuariosFranquicias"
        class="nav-link {% if 'UsuariosFranquicias' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Usuarios Franquicias</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    {% endif %}
    {% if request.user|has_any_group:"admin,Comercial_may,Comercial_fr,Comercial_suc,Comercial_sup" %}
    <!-- accesos del area aqui -->
    {% endif %}
    {% if request.user|has_any_group:"admin,Comercial_sup,Comercial_suc" %}
    <li class="nav-item">
      <a href="/../Herramientas/GestionCategoriaProductos"
        class="nav-link {% if 'GestionCategoriaProductos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Gestion Cat.Productos</p>
      </a>
    </li>
        <li class="nav-item">
      <a href="/../Herramientas/ObjetivosVentaFranquicias" class="nav-link {% if 'ObjetivosVentaFranquicias' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Objetivos Ventas Franquicias</p>
        <!-- <span class="badge badge-danger right">New</span> -->
      </a>
    </li>
    {% endif %}
    {% if request.user|has_any_group:"admin,Comercial_sup,Comercial_fr" %}
    <!-- accesos del area aqui -->
    {% endif %}
    {% if request.user|has_any_group:"admin,Comercial_sup,Comercial_may" %}
    <!-- accesos del area aqui -->
    <li class="nav-item">
      <a href="/../Herramientas/Adm_Pedido" class="nav-link {% if 'Adm_Pedido' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Adm. Pedido</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    {% endif %}
    {% if request.user|has_any_group:"admin,Gerencia_Adm" %}
    <!-- accesos del area aqui -->
    <li class="nav-item">
      <a href="/../Herramientas/AdministrarInternos" class="nav-link {% if 'AdministrarInternos' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Adm. Internos</p>
        <!-- <span class="badge badge-danger right">New</span> -->
      </a>
    </li>
    {% endif %}
    <!-- Fin 	Comercial -->

    <!-- inicio 	Tesoreria -->
    {% if request.user|has_any_group:"admin,Tesoreria" %}
    <!-- accesos del area aqui -->
    <li class="nav-item">
      <a href="/../Herramientas/ControlDeEfectivo" class="nav-link {% if 'ControlDeEfectivo' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Control De efectivo</p>
        <!-- <span class="badge badge-info right">New</span> -->
      </a>
    </li>
    {% endif %}

    <!-- Fin 	Tesoreria -->

    <!-- inicio 	Supervisores -->
    {% if request.user|has_any_group:"admin,Comercial_sup,e-commerce_sup,AdministracionSup,Logistica_Sup" or request.user.id == 63 %}
    <li class="nav-item">
      <a href="/../Herramientas/CargaProyecto" class="nav-link {% if  'CargaProyecto' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Cargar Proyecto</p>
        <!-- <span class="badge badge-info right">New</span> -->
        </a>
      </li>
    {% endif %}     
    <!-- Fin 	Supervisores -->

    <!-- inicio 	Admin -->
    {% if request.user|has_any_group:"admin" %}
    <li class="nav-item">
      <a href="/../Herramientas/AdminNotificaciones"
        class="nav-link {% if 'AdminNotificaciones' in request.path %} active {% endif %}">
        <i class="far fa-circle nav-icon"></i>
        <p>Admin Notificaciones</p>
        <span class="badge badge-info right">New</span>
      </a>
    </li>
    {% endif %}
    <!-- Fin 	Admin -->

  </ul>

</li>
{% endwith %}